<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar - livros</title>
</head>
<body>
<h3>Lista de Livros</h3>
<div th:each="li : ${livros}">
    Código: <span th:text="${li.codigo}"></span><br/>
    Título: <span th:text="${li.titulo}"></span><br/>
    Autor: <span th:text="${li.autores}"></span><br/>
    <span th:text="${li.categoria}"></span>
    <p></p>
</div>
</body>
</html>